:root {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* --- HEADER --- */
.header {
    background: url(../img/header/header.jpeg) no-repeat center center /cover;
    height: 100vh;
    padding: 30px 0;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-top .header-logo {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    width: 74px;
    line-height: 35px;
    letter-spacing: 5px;
}

.header-top .header-nav .header-nav__link {
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    margin-left: 40px;
    letter-spacing: 2px;
    text-decoration: none;
}

.header-top .header-nav .header-nav__link:first-child {
    margin-left: 0;
}

.header .header-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header-text .header-title {
    background-color: #99A5AC;
    color: #fff;
    font-weight: 700;
    font-size: 50px;
    font-style: italic;
    letter-spacing: 3px;
    line-height: 65px;
    padding: 0 10px;
}

/* --- SECTION VINIL STORE --- */
.vinil-store {
    padding: 50px 0;
}

.vinil-store .vinil-store__title {
    color: #000;
    font-weight: 700;
    font-size: 45px;
    font-style: italic;
    letter-spacing: 3px;
    text-align: center;
}

.vinil-store .vinil-search {
    margin-top: 35px;
}

.vinil-store .vinil-search {
    display: flex;
    justify-content: space-between;
}

.vinil-store .vinil-search .select {
    position: relative;
}

.vinil-store .vinil-search .select select {
    outline: none;
    background: none;
    border: none;
    border-bottom: 1px solid #E4E4E4;
    border-radius: 0;
    -webkit-appearance: none;
    appearance: none;
    font-size: 18px;
    margin-right: 20px;
}

.vinil-store .vinil-search .select select:last-child {
    margin-right: 0;
}

.vinil-store .vinil-list {
    display: flex;
    margin-top: 50px;
}

.vinil-store .vinil-list__item {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}

.vinil-store .vinil-list__item:last-child {
    margin-right: 0;
}

.vinil-store .vinil-list__item img {
    width: 300px;
}

.vinil-store .vinil-list__item span {
    display: block;
    margin-top: 10px;
    color: #000;
    font-weight: 400;
}

.vinil-store .vinil-list__item a {
    text-decoration: none;
}

.vinil-store .vinil-list__item .artist-title {
    font-size: 20px;
}

.vinil-store .vinil-list__item .album-title {
    font-size: 20px;
}

.vinil-store .vinil-list__item .price {
    font-size: 15px;
    font-weight: 300;
}

/* --- SECTION PLAYER --- */
.player {
    background: url(../img/player/0.jpg) no-repeat center center /cover;
    height: 100vh;
    padding-top: 70px;
}

.player h2 {
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 50px;
    letter-spacing: 5px;
    line-height: 65px;
}

/* --- SECTION PLAYER-STORE --- */
.player-store {
    padding: 80px 0;
}

.player-store .player-list {
    display: flex;
    flex-direction: column;
}

.player-store .player-list .player-list__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.player-store .player-list .player-list__item:first-child {
    margin-top: 0;
}

.player-list__item .player-info {
    max-width: 403px;
}

.player-list__item .player-info .player-title {
    font-size: 26px;
    font-weight: 700;
}

.player-list__item .player-info .player-dercription {
    margin-top: 30px;
    font-size: 15px;
    font-weight: 300;
    line-height: 19px;
}

.player-list__item .player-info .btn-buy {
    display: inline-block;
    margin-top: 30px;
    text-decoration: none;
    color: #fff;
    background-color: #000;
    letter-spacing: 2px;
    font-size: 14px;
    padding: 13px 60px;
    border-radius: 5px;
}

.player-list__item .player-img {
    display: block;
    height: 300px;
}

/* --- SECTION CONSULTATION --- */
.consultation {
    padding: 30px 0;
    background-color: #e4e4e4;
    min-height: 350px;
}

.consultation form {
    margin-top: 40px;
}

.user-wrap {
    display: flex;
    justify-content: space-around;
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.consultation .user-name {
    border: none;
    border-radius: 5px;
    outline: none;
    height: 48px;
    width: 350px;
    font-size: 20px;
    font-weight: 300;
    color: #B2B2B2;
    padding-left: 10px;
    opacity: .5;
}

.consultation .user-number {
    border: none;
    border-radius: 5px;
    outline: none;
    height: 48px;
    width: 350px;
    font-size: 15px;
    font-weight: 300;
    color: #B2B2B2;
    padding-left: 10px;
    opacity: .5;
}

.consultation .user-question {
    resize: none;
    border: none;
    border-radius: 5px;
    color: #B2B2B2;
    outline: none;
    opacity: .5;
    font-size: 15px;
    font-weight: 300;
    width: 550px;
    min-height: 150px;
    padding: 10px 10px;
}

.consultation .btn-submit {
    display: block;
    outline: none;
    color: #fff;
    background-color: #000;
    letter-spacing: 2px;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 15px 50px;
    font-size: 15px;
}

.consultation h2 {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 3px;
    text-align: center;
}

/* ---SECTION CONTACTS --- */
.contacts {
    padding: 25px;
}

.contacts .contacts-link {
    display: flex;
    justify-content: center;
}

.contacts .contacts-link .contacts-link__item {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 700;
    margin-left: 40px;
    letter-spacing: 1px;
}

.contacts .contacts-link .contacts-link__item:first-child {
    margin-left: 0px;
}

.contacts .contacts-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contacts .contacts-social .contacts-title {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 20px;
}

.contacts .contacts-social .contacts-social__item img {
    display: block;
    height: 40px;
}

.contacts .contacts-social .contacts-social__item a {
    margin-left: 60px;
}

.contacts .contacts-social .contacts-social__item a:first-child {
    margin-left: 0px;
}

.contacts .contacts-social .contacts-social__item {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

/* --- FOOTER --- */
.footer {
    padding: 20px 0;
    background-color: #000;
    text-align: center;
}

.footer .number {
    text-decoration: none;
}

.footer .number,
.address {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 2px;
}

.footer .address {
    margin-top: 10px;
}